@use "styles/_variables" as variables;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal {
    width: 400px;
    height: 252px;
    border-radius: 8px;
    padding: 32px;
    background-color: variables.$white;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include variables.mobile {
        width: 343px;
        height: 244px;
        padding: 24px 28px 24px 27px;
        gap: 16px;
    }
}
.deleteHeading {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: variables.$darkBlue;
    @include variables.mobile {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }
}
.deleteText {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: variables.$grayishBlue;
}
.buttonContainer {
    display: flex;
    gap: 14px;
    @include variables.mobile {
        gap: 12px;
    }
}
.buttonCommon {
    width: 161px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    color: variables.$white;
    @include variables.mobile {
        width: 138px;
    }
}

.noButton {
    @extend .buttonCommon;
    background-color: variables.$grayishBlue;
}

.yesButton {
    @extend .buttonCommon;
    background-color: variables.$softRed;
}
