@use "styles/_variables" as variables;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: variables.$veryLightGray;
    padding: 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
