@use "styles/_variables" as variables;

.commentWithReplyContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mainContainer {
    display: flex;
    gap: 24px;
    // width: 730px;
    // height: 167px;
    border-radius: 8px;
    background-color: variables.$white;
    padding: 24px;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.userReplyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userInfoContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.avatarContainer {
    width: 32px;
    height: 32px;
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
.userName {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: variables.$darkBlue;
}
.youDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 19px;
    border-radius: 2px;
    background-color: variables.$moderateBlue;
    color: variables.$white;
    margin-left: -8px;
}

.date {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: variables.$grayishBlue;
    white-space: nowrap;
}

.deleteReplyContainer {
    display: flex;
    gap: 23.86px;
}

.replyContainer {
    cursor: pointer;
    display: flex;
    gap: 6px;
    align-items: center;

    p {
        color: variables.$moderateBlue;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
    img {
        width: 14px;
        height: 12.25px;
    }

    &:hover {
        p {
            color: variables.$ligtGreyishBlue;
        }
        .replySvg path {
            fill: variables.$ligtGreyishBlue;
        }
    }
}
.deleteContainer {
    cursor: pointer;
    display: flex;
    gap: 6px;
    align-items: center;

    p {
        color: variables.$softRed;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
    img {
        width: 11.53px;
        height: 14px;
    }

    &:hover {
        p {
            color: variables.$paleRed;
        }
        .deleteSvg path {
            fill: variables.$paleRed;
        }
    }
}
.commentText {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: variables.$grayishBlue;
    // width: 618px;
    // height: 72px;
}
.replyingTo {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: variables.$moderateBlue;
}
